
body{
   
    color:#FFF;
    font-size: 40px;
}
.container {
    width:1400px;
    margin: 0 auto;
    background: #1c1c1c;
    -webkit-transition: height .4s;
}

.presentation {
    width : 560px;
    background: #423153;
    float: left;
    display: block;
    border: 10px solid #FFF;
    
}

.tittle {
    font-family: 'Bree Serif', serif;
    font-size: 90px;
    color:#FFF;
    padding : 1px;
}

.fiche {
    list-style: none;
    
}

.antoine__img {
    width : 448px;
    height: 672px;
    padding : 40px;
}

.antoine__img--2 {
    width: 720px;
    height: 666px;
    
    display: block;
    float: left;
    margin : 0px 0px 0px 25px;
            

}

.presentation__2 {
    background: #1c1c1c;
    border: 10px solid #FFF;
    
    width : 680px;
    float: left;
    display: block;
    margin : 0px 25px 0px 25px;
    height: 710px;
}
   





span {
    color : #dd7f37;
}

p {
    font-size:28px;
    padding: 5px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify right;
}



.icon {
    float:left;
    margin: 40px 30px 40px 70px;
    display : block;
    -webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
    
}

div.container:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}


.section--footer{	

}

.kedis {
    color: #FFF;
}

.presentation__text {
    font-size: 40px;
}

.presentation--text {
    font-size: 35px;
}
